<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<style>
  .fieldError {
    border-color: #bd2130;
    width: 100%;
  }
</style>
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader"/>
  <form role="form" action="/members/new" th:object="${memberForm}" method="post">
    <div class="form-group">
      <label th:for="username">Name</label>
      <input type="text" th:field="*{username}" class="form-control" placeholder="Enter your name"
             th:class="${#fields.hasErrors('username')}? 'form-control fieldError' : 'form-control'">
      <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Incorrect date</p>
    </div>
    <div class="form-group">
      <label th:for="street">Street</label>
      <input type="text" th:field="*{street}" class="form-control"
             placeholder="Enter street">
    </div>
    <div class="form-group">
      <label th:for="city">City</label>
      <input type="text" th:field="*{city}" class="form-control" placeholder="Enter city">
    </div>
    <div class="form-group">
      <label th:for="province">Province</label>
      <input type="text" th:field="*{province}" class="form-control" placeholder="Enter province">
    </div>
    <div class="form-group">
      <label th:for="country">Country</label>
      <input type="text" th:field="*{country}" class="form-control" placeholder="Enter country">
    </div>
    <div class="form-group">
      <label th:for="postalCode">Zip code</label>
      <input type="text" th:field="*{postalCode}" class="form-control" placeholder="Enter zip code">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <br/>
  <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>